//gitlab.netzeffekt.de/api/v4/packages/npm/:_authToken=_DW4dD6YHxczLp9wmVh6
//gitlab.netzeffekt.de/api/v4/projects/287/packages/npm/:_authToken=_DW4dD6YHxczLp9wmVh6
@creative-labs:registry=https://gitlab.netzeffekt.de/api/v4/projects/287/packages/npm/
